<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="API" value="LAF8BhU5PQpuGp9QKYyTNpIG" />
    <add key="Secret" value="2OqEhhSQD9I0e5pdYr7HFPEkfQwEfatt" />
    <add key="Tok" value="24.cf99941afcd26bb7daeff0d13956649f.2592000.1553589629.282335-15617948" />
    <add key="Cuid" value="sadfasdfdsaf" />
    <add key="Ctp" value="1" />
    <add key="Lan" value="zh" />
    <add key="Spd" value="5" />
    <add key="Pit" value="5" />
    <add key="Vol" value="5" />
    <add key="Per" value="0" />
    <add key="Aue" value="3" />
    
  </appSettings>
</configuration>